/* Reseta margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #444;
  transform: scale(0.9);
}

/* Para dispositivos com largura máxima de 768px (tablet e celular) */
@media (max-width: 768px) {
  body {
    transform: scale(0.25);
    transform-origin: top;
  }
}

/* Corpo do MPC, com fundo vermelho */
.mpc-body {
  background-color: red;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

/* Parte esquerda (Tela e Pads) */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

/* Tela de exibição (display) acima dos pads */
.screen {
  width: 630px;
  height: 150px;
  background-color: #444;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Texto da tela de exibição */
#screen-text {
  font-family: 'Seven Segment', sans-serif;                               
  text-align: center;
  color: white;
}

/* Contêiner dos Pads */
.main-container {
  margin-bottom: 10px;
}

/* Grid de Pads */
.pads-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 10px;
}

/* Estilo de cada pad */
.pad {
  width: 150px;
  height: 150px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.pad:hover {
  background-color: #666;
  transform: scale(1.05);
}

/* Parte direita (Botões e Controles) */
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%; /* Ocupa 25% da largura */
}

/* Div de botões de controle */
.button-control {
  width: 94%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  box-sizing: border-box;
}

.recorder {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.button-recorder {
  display: flex;
  width: 94%;
  justify-content: space-between;
  height: 65px;
  gap: 20px;
}

#status {
  background-color: rgb(240, 240, 240);
  color: #7c7c7c;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  width: 300px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  height: 200px;
}

/* Estilo dos botões de controle */
.control-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recorder-btn {
  width: 146px;
  height: 65px;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-btn:hover {
  background-color: #666;
}

.recorder-btn:hover {
  background-color: #666;
}

/* Estilo básico do range */
input[type="range"] {
  width: 94%;
  height: 10px;
  background: #ddd;
  border-radius: 0px; /* Bordas arredondadas para a linha */
  -webkit-appearance: none; /* Remover estilo padrão do input range */
  appearance: none; /* Remover estilo padrão do input range */
}

/* Estilo da linha de rastreamento */
input[type="range"]::-webkit-slider-runnable-track {
  background: #333; /* Cor da linha do range */
  height: 5px; /* Altura da linha */
  border-radius: 5px; /* Bordas arredondadas para a linha */
}

/* Estilo do thumb (quadrado) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remover estilo padrão do thumb */
  appearance: none; /* Remover estilo padrão do thumb */
  width: 30px;
  height: 30px;
  background: rgb(226, 226, 226);
  border-radius: 5px;
  cursor: pointer;
  margin-top: -12px; /* Para centralizar verticalmente o thumb */
  border: 2px solid #444;
}

/* Focar no range remove a borda padrão */
input[type="range"]:focus {
  outline: none;
}

/* Estilo para os labels com destaque */
.label-highlight {
  font-family: "Arial", sans-serif; /* Altere para a fonte desejada */
  font-weight: bold; /* Negrito */
  color: #444; /* Cor escura para destaque */
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  margin-bottom: 5px; /* Espaçamento entre o label e o controle */
  display: block; /* Garantir que o label ocupe toda a linha */
}
